.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 50px;
  }
  
  .header-nav {
    display: flex;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-left: 20px;
    position: relative;
  }
  
  li:first-child {
    margin-left: 0;
  }
  
  a {
    color: #333;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
  
  a:hover {
    color: #0077b5;
  }
  
  h4 {
    margin-top: 5px;
    font-size: 10px;
    font-weight: normal;
  }
  
  /* Icon boyutlarını ayarlamak için */
  svg {
    width: 20px;
    height: 20px;
  }
  